*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size:cover;
    

    height: 80vh;
    width: 100vw;
}



.svg{
    fill: rgb(229, 9, 20);
    width: 9.25rem;
    height: 2.5rem;

    
}


.bottom{
    background-color: #222;
    height: 20vh;
    width: 100vw;
}